{erl_opts, [debug_info]}.

{deps,
  [{cowboy,
      {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0"}}},

   {gun,
      {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},

   {jiffy,
      {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.13"}}},

   {uuid,
      {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, master}}},

   {erlpass,
      {git, "https://github.com/ferd/erlpass.git", {tag, "1.0.4"}}},

   {qdate,
      {git, "https://github.com/choptastic/qdate.git", {branch, "master"}}},

   {eics,
      {git, "https://github.com/tortelio/eics.git", {branch, "master"}}}
  ]}.

{ct_opts, [{dir, ["./test"]},
           {sys_config, "./config/sys.config"},
           {vm_args, "./config/vm.args"}]}.

{relx, [{release, {tood, "0.1.0"}, [tood, mnesia, sasl]},
        {sys_config, "./config/sys.config"}, % this is the default (dev)
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{overrides, [
  % jiffy
  {override, jiffy,
    [{plugins, [pc]},
    {artifacts, ["priv/jiffy.so"]},
    {provider_hooks, [{post, [{compile, {pc, compile}},
                        {clean, {pc, clean}}
    ]}]}]}]}.
